$accent: #006600;
$grey-20: #B3B3B3;
$grey-50: #808080;
$grey-70: #333333;

body {
  font-family: 'Roboto Slab', Georgia, serif;
}

.heading, .nav, h2, h3, h1, ul, li {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  margin-top: 5em;
  h1, h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  h1 {
    color: $accent;
  }
  h3 {
    color: $grey-50;
    font-size: 1em;
  }


  .nav {
    list-style-type: none;
    text-align: center;
    margin-top: 1em;
    li {
      display: inline-block;
      margin: 0 .5em;
    }
    a {
      &:link,
      &:visited {
        color: $grey-50;
        text-decoration: none;
        border-bottom: 1px solid $grey-50;
        transition: all .35s ease;
        padding: .5em .25em 0 .25em;
      }
      &:hover,
      &:active {
        color: $accent;
        border-bottom: 5px solid $accent;
      }
    }
  }

}


.social-icon {
  fill: $grey-50;
  height: 3em;
  #linkedin-icon, #facebook-icon, #twitter-icon, #mail-icon {
    transition: all .25s ease;
  }
  &:hover {
    #linkedin-icon, #facebook-icon, #twitter-icon, #mail-icon {
    fill: $accent;
  }

  }

}

.container {
  max-width: 100%;
  text-align: center;
  margin: 1em;
  box-sizing: border-box;
}

.contact {
  ul {
    list-style-type: none;
    li{
      display: inline-block;
      margin: .5em;
    }
  }

}
