$accent: #006600;
$grey-20: #B3B3B3;
$grey-50: #808080;
$grey-70: #333333;

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.heading, .nav, h2, h3, h1, ul, li {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  margin-top: 2em;
  h1, h3 {

    font-family: 'Roboto Slab', Georgia, serif;
  }
  h1 {
    color: $accent;
  }
  h3 {
    color: $grey-50;
    font-size: 1em;
  }


  .nav {
    list-style-type: none;
    text-align: center;
    margin-top: 1em;
    li {
      display: inline-block;
      margin: 0 .5em;
    }
    a {
      &:link,
      &:visited {
        color: $grey-50;
        text-decoration: none;
        border-bottom: 1px solid $grey-50;
        transition: all .35s ease;
        padding: .5em .25em 0 .25em;
      }
      &:hover,
      &:active {
        color: $accent;
        border-bottom: 5px solid $accent;
      }
    }
  }

}


.social-icon {
  fill: $grey-50;
  height: 3em;
  #linkedin-icon, #facebook-icon, #twitter-icon, #mail-icon {
    transition: all .25s ease;
  }
  &:hover {
    #linkedin-icon, #facebook-icon, #twitter-icon, #mail-icon {
    fill: $accent;
  }

  }

}

.no-bullets {
  list-style-type: none;
}

.indented {
  margin-left: 1.5em;
}


.container {
  margin: 1em auto;
  box-sizing: border-box;
  width: 100%;
  padding: .5em;
  max-width: 50.94em;
  line-height: 1.5em;


}

.contact {
  text-align: center;
    li{
      display: inline-block;
      margin: 1.5em;
    }

}

.resume {

  section {
    margin-bottom: 1em;
    padding: .5em;
  }

  .experience-item {
    margin-bottom: .75em;
  }

  .second-experience-item {
    margin-top: .75em;
  }

  h3{
    color: $accent;
    margin-bottom: .5em;
  }

  .resume-title {
    font-weight: 600;
  }
}
